/.vs/

MusicFM.Module/bin/
MusicFM.Module/obj/
MusicFM.Module/.vs/

MusicFM.Module.Web/bin/
MusicFM.Module.Web/obj/
MusicFM.Module.Web/.vs/

MusicFM.Module.Win/bin/
MusicFM.Module.Win/obj/
MusicFM.Module.Win/.vs/

MusicFM.Web/bin/
MusicFM.Web/obj/
MusicFM.Web/.vs/

MusicFM.Win/bin/
MusicFM.Win/obj/
MusicFM.Win/.vs/


